body {
	margin: 0;
	padding: 60px 0 0 0;
	width: 100%;
	height: 100%;
	background: #61CDF6;
	text-align: center;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

#teaser {
	width: 479px; 
	margin: 0 auto;
}


h2 {
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

h3 {
	font-weight: 600;
	margin: 0 0 30px 0;
	padding: 0;
	color: #666666;
	color: rgba(0,0,0,0.2);
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 1px;
}

h5 {
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	color: #666666;
	color: rgba(0,0,0,0.4);
}

a {
	font-weight: 600;
	color: #666666;
	color: rgba(0,0,0,0.4);
	text-decoration: none;
}

.contact {
	margin: 12px 20px;
	padding-top: 48px;
	display: inline-block;
}

.email {
	background: url('/images/mail-icon.png') center top no-repeat;
}

.phone {
	background: url('/images/call-icon.png') center top no-repeat;
}